@inject IRepositorio repositorio

<ListadoGenerico Listado="Gastos">
    <HayRegistrosCompleto>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Persona</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Pagado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var gasto in Gastos)
                {
                <tr>
                    <td>@gasto.Nombre</td>
                    <td>@gasto.Monto.Value.ToString("C", CultureInfo.CreateSpecificCulture("es-AR"))</td>
                    <td>@gasto.Fecha.Value.ToString("dd/MM/yy")</td>
                    <td>@gasto.Persona.Nombre</td>
                    <td>@gasto.Tipo.Nombre</td>
                    <td>@gasto.Descripcion</td>

                    @if (gasto.Pagado)
                    {
                        <td><span class="text-success">Si</span></td>
                    }
                    else
                    {
                        <td><span class="text-danger">No</span></td>
                    }
                    <td>
                        <a class="oi oi-pencil text-success mr-sm-3" href="/gastos/editar/@gasto.Id"></a>
                        <a class="oi oi-x text-danger" @onclick="@(() => BorrarGasto.InvokeAsync(gasto))" href="gastos"></a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </HayRegistrosCompleto>
</ListadoGenerico>

@code {
    [Parameter] public List<Gasto> Gastos { get; set; }
    [Parameter] public EventCallback<Gasto> BorrarGasto { get; set; }
}
